@use "../color-font";
@use "../device";

//for mobile
.hp-home {
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-image: url("../../materials/Background/BG_home_XXL.png");
  background-size: cover;
  background-position: right 50% top 0px;
  background-repeat: no-repeat;
  
  .name {
    position: absolute;
    top: 45%;
    left: 30%;
    h1 {
      line-height: 0.4em;
      color: color-font.$mainDark;
      letter-spacing: 9px;
      font-size: 20.8vw;
    }
  }
  .hp-home-icon-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;

    img {
      width: 60%;
    }
  }
}

//414px
@media (min-width: device.$ourMobile) {
  .hp-home {
    height: 100vh !important;
    margin-top: 0px;
    .name {
      position: absolute;
      top: 45%;
      left: 35%;
      h1 {
        line-height: 0.4em;
        color: color-font.$mainDark;
        letter-spacing: 9px;
        font-size: 20.8vw;
      }
    }
  }
}
@media (min-width: 500px) {
}

//width: 770px
@media (min-width: device.$ourTablet) {
  .hp-home {
    .name {
      position: absolute;
      top: 40%;
      left: 40%;
      h1 {
        line-height: 0.6em;
        color: color-font.$mainDark;
        letter-spacing: 9px;
        font-size: 16.4vw !important;
      }
    }
  }

  .hp-home-icon-box {
    img {
      width: 0px !important;
    }
  }
}

//width: 1024px
@media (min-width: device.$ourTabletL) {
  .hp-home {
    .name {
      position: absolute;
      top: 37%;
      left: 50%;
      z-index: 2;
      h1 {
        line-height: 0.6em;
        color: color-font.$mainDark;
        letter-spacing: 9px;

        font-size: 12.4vw !important;
      }
    }
    .bg-img {
      img {
        height: 100vh;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
}
@media (min-width: device.$ourLaptopXL) {
  .hp-home {
    display: flex;
    .bg-dark {
      background-color: color-font.$mainDark;
      width: 50%;
      height: 100vh;
      z-index: -1;
    }
    .bg-orange {
      background-color: color-font.$mainOrange;
      width: 50%;
      height: 100vh;
      z-index: -1;
    }
  }
  .bg-img {
    text-align: center;
    img {
      width: auto !important;
      height: 100vh;
      object-fit: cover;
    }
  }
}

//width 1920px
@media (min-width: device.$ourLaptopXXL) {
}
