@use "../color-font";
@use "../device";

//for mobile
.Bp {
  height: calc(100vh - 60px);
  background-image: url("../../materials/Background/BG_bag_XXL.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: right 50% bottom 0px;
  position: relative;
 
  .image-wrapper {
    width: 80%;
    margin: 0 auto;
    img {
      width: 100%;
      transform: rotate(10deg);
      margin-top: 60px;
    }
  }
  .hp-download-wrap {
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: right;
    width: 30%;
   
    img {
      width: 100%;
      margin-right: 20px;
    }
  }
}


//414px
@media (min-width: device.$ourMobile) {
  .Bp {
    height: 100vh;
  }
  .hp-bp-bg-wrapper {

    img {
      height: 100vh !important  ;
      object-fit: cover;
    }
  }
}

//width: 770px
@media (min-width: device.$ourTablet) {
  .Bp {
    .image-wrapper {
      width: 50%;
      margin-right: 230px;
      img {
        width: 100%;
        transform: rotate(10deg);
        margin-top: 200px;
      }
    }
    .hp-download-wrap {
      img {
        width: 55%;

      }
    }
  }
}

//width: 1024px
@media (min-width: device.$ourTabletL) {
  .Bp {
    .image-wrapper {
      width: 53%;
      margin-right: 270px;
      img {
        width: 100%;
        transform: rotate(6deg);
        margin-top: 110px;
      }
    }
    .hp-download-wrap {
      img {
        width: 45%;

      }
    }
  }
}
//width: 1366px
@media (min-width: device.$ourTabletL) {
  .Bp {
    .image-wrapper {

      margin-right: 300px;
     
    }
    .hp-download-wrap {
      img {
        width: 40%;
        margin-right: 100px;

      }
    }
  }
}
