// materialize css grid
$laptopXL: 1200px;
$laptopL: 992px;
$tablet: 600px;

//our design device
$ourLaptopXXL: 1920px;
$ourLaptopXL: 1366px;
$ourTabletL: 1024px;
$ourTablet: 770px;
$ourMobile: 414px;
$ourMobileSS: 375px;
